<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>820347766422-hmeb52aic2guu9ffegre6m4lpns0jgsd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820347766422-hmeb52aic2guu9ffegre6m4lpns0jgsd</string>
	<key>API_KEY</key>
	<string>AIzaSyAD3mpaYeZRXDgN_SDOWZUODS1rIejE4mU</string>
	<key>GCM_SENDER_ID</key>
	<string>820347766422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cn.herofight.herochess</string>
	<key>PROJECT_ID</key>
	<string>herochess-f6ec4</string>
	<key>STORAGE_BUCKET</key>
	<string>herochess-f6ec4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820347766422:ios:54bf3c0c520f3e62</string>
	<key>DATABASE_URL</key>
	<string>https://herochess-f6ec4.firebaseio.com</string>
</dict>
</plist>