<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>100174380124-61kse5usfqgkestnoqtfh6qhh1v06rc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100174380124-61kse5usfqgkestnoqtfh6qhh1v06rc4</string>
	<key>API_KEY</key>
	<string>AIzaSyDVpL5duGVDYo66Z8GWNd_CYxa7lxTU4Yo</string>
	<key>GCM_SENDER_ID</key>
	<string>100174380124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yongwuart.onesecond</string>
	<key>PROJECT_ID</key>
	<string>one-second-86179</string>
	<key>STORAGE_BUCKET</key>
	<string>one-second-86179.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:100174380124:ios:9d3c0aa9aa4ef7d3</string>
	<key>DATABASE_URL</key>
	<string>https://one-second-86179.firebaseio.com</string>
</dict>
</plist>