*.cfg
LuaTemplate/frameworks/runtime-src/proj.android-studio/proj.android-studio.iml
LuaTemplate/frameworks/runtime-src/proj.android-studio/.idea/compiler.xml
LuaTemplate/frameworks/runtime-src/proj.android-studio/.idea/gradle.xml
LuaTemplate/frameworks/runtime-src/proj.android-studio/.idea/misc.xml
LuaTemplate/frameworks/runtime-src/proj.android-studio/.idea/modules.xml
LuaTemplate/frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/libcocos2dx.iml
LuaTemplate/frameworks/cocos2d-x/tools/tolua/userconf.ini
LuaTemplate/frameworks/runtime-src/proj.android-studio/.idea/runConfigurations.xml
LuaTemplate/frameworks/runtime-src/proj.android-studio/.idea/vcs.xml
LuaTemplate/frameworks/runtime-src/proj.android-studio/.idea/copyright/profiles_settings.xml
LuaTemplate/frameworks/runtime-src/proj.android-studio/app/build.xml
LuaTemplate/frameworks/runtime-src/proj.android-studio/app/local.properties
LuaTemplate/frameworks/runtime-src/proj.android-studio/app/LuaTemplate.iml
LuaTemplate/frameworks/runtime-src/proj.android-studio/app/proguard-project.txt
LuaTemplate/frameworks/runtime-src/proj.ios_mac/ios/Icon-100.png
LuaTemplate/frameworks/runtime-src/proj.ios_mac/ios/Icon-114.png
LuaTemplate/frameworks/runtime-src/proj.ios_mac/ios/Icon-120.png
LuaTemplate/frameworks/runtime-src/proj.ios_mac/ios/Icon-144.png
LuaTemplate/frameworks/runtime-src/proj.ios_mac/ios/Icon-152.png
LuaTemplate/frameworks/runtime-src/proj.ios_mac/ios/Icon-180.png
LuaTemplate/frameworks/runtime-src/proj.ios_mac/ios/Icon-29.png
LuaTemplate/frameworks/runtime-src/proj.ios_mac/ios/Icon-40.png
LuaTemplate/frameworks/runtime-src/proj.ios_mac/ios/Icon-50.png
LuaTemplate/frameworks/runtime-src/proj.ios_mac/ios/Icon-57.png
LuaTemplate/frameworks/runtime-src/proj.ios_mac/ios/Icon-58.png
LuaTemplate/frameworks/runtime-src/proj.ios_mac/ios/Icon-72.png
LuaTemplate/frameworks/runtime-src/proj.ios_mac/ios/Icon-76.png
LuaTemplate/frameworks/runtime-src/proj.ios_mac/ios/Icon-80.png
LuaTemplate/frameworks/runtime-src/proj.ios_mac/ios/Icon-87.png
LuaTemplate/frameworks/runtime-src/proj.ios_mac/ios/Default-568h@2x.png
LuaTemplate/frameworks/runtime-src/proj.ios_mac/ios/Default-667h@2x.png
LuaTemplate/frameworks/runtime-src/proj.ios_mac/ios/Default-736h@3x.png
LuaTemplate/frameworks/runtime-src/proj.ios_mac/ios/Default-Landscape~ipad.png
LuaTemplate/frameworks/runtime-src/proj.ios_mac/ios/Default@2x.png
