<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>737633072801-3dsah3euiovg0ce3f78jcasl1uodtgj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737633072801-3dsah3euiovg0ce3f78jcasl1uodtgj4</string>
	<key>API_KEY</key>
	<string>AIzaSyA2zUta51xsxvSQWc1sLdyo_CZD1ZrnYtg</string>
	<key>GCM_SENDER_ID</key>
	<string>737633072801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yongwuart.droplines</string>
	<key>PROJECT_ID</key>
	<string>drop-lines</string>
	<key>STORAGE_BUCKET</key>
	<string>drop-lines.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:737633072801:ios:515aa041f233392d</string>
	<key>DATABASE_URL</key>
	<string>https://drop-lines.firebaseio.com</string>
</dict>
</plist>