*.pyc
game.log
*.apk
Tools/output
Tools/temp
simulator
obj
libs
frameworks/runtime-src/proj.android-studio/app/assets/
frameworks/runtime-src/proj.android-studio/app/libs/
frameworks/runtime-src/proj.android-studio/app/obj/
frameworks/runtime-src/proj.ios_mac/Podfile.lock
frameworks/runtime-src/proj.ios_mac/Pods/
runtime/mac
temp/
Tools/iconscale/output
art
*.obj
*.dll
*.pdb
*.tlog
*.Dir
*.lib
*.db
*.log
*.idb
*.cfg
frameworks/runtime-src/proj.android-studio/proj.android-studio.iml
frameworks/runtime-src/proj.android-studio/.idea/compiler.xml
frameworks/runtime-src/proj.android-studio/.idea/gradle.xml
frameworks/runtime-src/proj.android-studio/.idea/misc.xml
frameworks/runtime-src/proj.android-studio/.idea/modules.xml
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/libcocos2dx.iml
frameworks/cocos2d-x/tools/tolua/userconf.ini
frameworks/runtime-src/proj.android-studio/.idea/runConfigurations.xml
frameworks/runtime-src/proj.android-studio/.idea/vcs.xml
frameworks/runtime-src/proj.android-studio/.idea/copyright/profiles_settings.xml
frameworks/runtime-src/proj.android-studio/app/build.xml
frameworks/runtime-src/proj.android-studio/app/local.properties
frameworks/runtime-src/proj.android-studio/app/iml
frameworks/runtime-src/proj.android-studio/app/proguard-project.txt
frameworks/runtime-src/proj.ios_mac/ios/Icon-100.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-114.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-120.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-144.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-152.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-180.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-29.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-40.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-50.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-57.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-58.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-72.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-76.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-80.png
frameworks/runtime-src/proj.ios_mac/ios/Icon-87.png
frameworks/runtime-src/proj.ios_mac/ios/Default-568h@2x.png
frameworks/runtime-src/proj.ios_mac/ios/Default-667h@2x.png
frameworks/runtime-src/proj.ios_mac/ios/Default-736h@3x.png
frameworks/runtime-src/proj.ios_mac/ios/Default-Landscape~ipad.png
frameworks/runtime-src/proj.ios_mac/ios/Default@2x.png
