<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spacefortress_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1284},{589,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,90}}</string>
                <key>sourceSize</key>
                <string>{589,90}</string>
            </dict>
            <key>spacefortress_boss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1953},{86,86}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spacefortress_boss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1953},{88,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{88,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spacefortress_boss3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1962},{84,70}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{84,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spacefortress_boss4.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1875},{88,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{88,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spacefortress_boss5.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1634},{100,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{100,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spacefortress_boss6.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1875},{76,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{76,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spacefortress_chongwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1634},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>spacefortress_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{720,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1080}}</string>
                <key>sourceSize</key>
                <string>{720,1080}</string>
            </dict>
            <key>spacefortress_dianzan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1532},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spacefortress_diqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1816},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>spacefortress_enermyTrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,724},{800,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,800}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>spacefortress_fengshudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{676,65}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{676,65}}</string>
                <key>sourceSize</key>
                <string>{720,65}</string>
            </dict>
            <key>spacefortress_fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1532},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spacefortress_gameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,1280}}</string>
                <key>sourceSize</key>
                <string>{960,1280}</string>
            </dict>
            <key>spacefortress_jineng.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1736},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>spacefortress_kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1284},{348,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{348,348}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>spacefortress_paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1532},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spacefortress_plane.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1984},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{54,48}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>spacefortress_planetCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,1526},{246,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{246,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>spacefortress_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1846},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>spacefortress_rotateLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1634},{210,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{210,210}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>spacefortress_yingwenbiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1284},{573,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,61}}</string>
                <key>sourceSize</key>
                <string>{573,61}</string>
            </dict>
            <key>spacefortress_yingwenkaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1284},{348,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{348,348}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>spacefortress_yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1882},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spacefortress_yinxiaoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1914},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spacefortress_yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1926},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spacefortress_yinyueguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1926},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spacefortress_yuan001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1634},{246,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{246,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>spacefortress_yuan002.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,1634},{246,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{246,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>spacefortress_yuan003.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1284},{246,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{246,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>spacefortress_yuan004.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1634},{246,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{246,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>spacefortress_yunshi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1882},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>spacefortress_yunshi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1882},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>spacefortress_yunshi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1882},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>spacefortress_yunshi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1882},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>spacefortress_zanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1984},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>spacefortress_zhuye.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1859},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spaceFortressGUI.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05185f5065f4368c9ad4c29371377652:1/1$</string>
            <key>textureFileName</key>
            <string>spaceFortressGUI.png</string>
        </dict>
    </dict>
</plist>
