<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Play.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1710},{288,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,104}}</string>
                <key>sourceSize</key>
                <string>{288,104}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1080}}</string>
                <key>sourceSize</key>
                <string>{640,1080}</string>
            </dict>
            <key>balloon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>balloon10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,2},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>balloon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,1967},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>balloon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,1864},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>balloon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1864},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>balloon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1974},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>balloon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1974},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>balloon7.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1974},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>balloon8.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1976},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>balloon9.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1976},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>chongwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1864},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>daqiqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{483,624}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,624}}</string>
                <key>sourceSize</key>
                <string>{483,624}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1084},{360,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,420}}</string>
                <key>sourceSize</key>
                <string>{360,420}</string>
            </dict>
            <key>diamondInGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1710},{155,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{155,168}}</string>
                <key>sourceSize</key>
                <string>{167,168}</string>
            </dict>
            <key>diamondNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1506},{50,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,42}}</string>
                <key>sourceSize</key>
                <string>{50,42}</string>
            </dict>
            <key>dianzan.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1506},{87,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,157}}</string>
                <key>sourceSize</key>
                <string>{87,157}</string>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2000},{75,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,46}}</string>
                <key>sourceSize</key>
                <string>{75,46}</string>
            </dict>
            <key>fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1506},{87,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,157}}</string>
                <key>sourceSize</key>
                <string>{87,157}</string>
            </dict>
            <key>gouwuche.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1506},{87,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,157}}</string>
                <key>sourceSize</key>
                <string>{87,157}</string>
            </dict>
            <key>huangguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1558},{123,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,107}}</string>
                <key>sourceSize</key>
                <string>{123,107}</string>
            </dict>
            <key>jixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1562},{143,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,149}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1864},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>play.cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1710},{288,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,104}}</string>
                <key>sourceSize</key>
                <string>{288,104}</string>
            </dict>
            <key>qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1683},{20,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,360}}</string>
                <key>sourceSize</key>
                <string>{20,360}</string>
            </dict>
            <key>quguanggao.cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1705},{87,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,157}}</string>
                <key>sourceSize</key>
                <string>{87,157}</string>
            </dict>
            <key>quguanggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1705},{87,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,157}}</string>
                <key>sourceSize</key>
                <string>{87,157}</string>
            </dict>
            <key>quguanggaoguan.cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1705},{87,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,157}}</string>
                <key>sourceSize</key>
                <string>{87,157}</string>
            </dict>
            <key>quguanggaoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1705},{87,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,157}}</string>
                <key>sourceSize</key>
                <string>{87,157}</string>
            </dict>
            <key>restore.cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1880},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1880},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>snake vs math.cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1084},{476,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,67}}</string>
                <key>sourceSize</key>
                <string>{476,67}</string>
            </dict>
            <key>snake vs math.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1084},{474,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{474,63}}</string>
                <key>sourceSize</key>
                <string>{476,67}</string>
            </dict>
            <key>sound1.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1866},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>sound2.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1866},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>tou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1506},{41,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,56}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>tou10.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1994},{51,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,59}}</string>
                <key>sourceSize</key>
                <string>{51,59}</string>
            </dict>
            <key>tou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2000},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>tou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2000},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>tou4.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2000},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>tou5.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1994},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>tou6.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{62,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,39}</string>
            </dict>
            <key>tou7.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1990},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>tou8.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1994},{52,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,61}}</string>
                <key>sourceSize</key>
                <string>{52,61}</string>
            </dict>
            <key>tou9.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1994},{52,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,61}}</string>
                <key>sourceSize</key>
                <string>{52,61}</string>
            </dict>
            <key>yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1707},{87,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,157}}</string>
                <key>sourceSize</key>
                <string>{87,157}</string>
            </dict>
            <key>yinxiaoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1707},{87,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,157}}</string>
                <key>sourceSize</key>
                <string>{87,157}</string>
            </dict>
            <key>zanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1506},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1710},{165,168}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{165,168}}</string>
                <key>sourceSize</key>
                <string>{167,168}</string>
            </dict>
            <key>zhujiemian.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1880},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb68ec35e8d45fe31c51b0cf0bc7b2cf:1/1$</string>
            <key>textureFileName</key>
            <string>gui.png</string>
        </dict>
    </dict>
</plist>
