<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Play.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1710},{288,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,104}}</string>
                <key>sourceSize</key>
                <string>{288,104}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1080}}</string>
                <key>sourceSize</key>
                <string>{640,1080}</string>
            </dict>
            <key>balloon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1017},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>balloon10.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,914},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>balloon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,811},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>balloon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,708},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>balloon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,605},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>balloon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,502},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>balloon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,243},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>balloon7.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,190},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>balloon8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,165},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>balloon9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,2},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>chongwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,392},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>daqiqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{483,624}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,624}}</string>
                <key>sourceSize</key>
                <string>{483,626}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1084},{360,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,420}}</string>
                <key>sourceSize</key>
                <string>{360,420}</string>
            </dict>
            <key>di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1912},{480,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,120}}</string>
                <key>sourceSize</key>
                <string>{480,120}</string>
            </dict>
            <key>diamondInGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1506},{155,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{155,168}}</string>
                <key>sourceSize</key>
                <string>{167,168}</string>
            </dict>
            <key>diamondNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,346},{50,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,42}}</string>
                <key>sourceSize</key>
                <string>{50,42}</string>
            </dict>
            <key>dianzan.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,91},{87,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,157}}</string>
                <key>sourceSize</key>
                <string>{87,157}</string>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2000},{75,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,46}}</string>
                <key>sourceSize</key>
                <string>{75,46}</string>
            </dict>
            <key>fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,91},{87,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,157}}</string>
                <key>sourceSize</key>
                <string>{87,157}</string>
            </dict>
            <key>goumaidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1710},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>gouwuche.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{87,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,157}}</string>
                <key>sourceSize</key>
                <string>{87,157}</string>
            </dict>
            <key>huangguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1912},{123,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,107}}</string>
                <key>sourceSize</key>
                <string>{123,107}</string>
            </dict>
            <key>jixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1562},{143,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,149}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,286},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>play.cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1710},{288,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,104}}</string>
                <key>sourceSize</key>
                <string>{288,104}</string>
            </dict>
            <key>qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1877},{20,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,360}}</string>
                <key>sourceSize</key>
                <string>{20,360}</string>
            </dict>
            <key>quguanggao.cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{87,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,157}}</string>
                <key>sourceSize</key>
                <string>{87,157}</string>
            </dict>
            <key>quguanggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,2},{87,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,157}}</string>
                <key>sourceSize</key>
                <string>{87,157}</string>
            </dict>
            <key>quguanggaoguan.cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1665},{87,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,157}}</string>
                <key>sourceSize</key>
                <string>{87,157}</string>
            </dict>
            <key>quguanggaoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1506},{87,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,157}}</string>
                <key>sourceSize</key>
                <string>{87,157}</string>
            </dict>
            <key>restore.cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,91},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,2},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>shop_biankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1899},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>shop_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,502},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>shop_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1562},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>shop_qiqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1912},{83,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,107}}</string>
                <key>sourceSize</key>
                <string>{83,107}</string>
            </dict>
            <key>snake vs math.cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1084},{476,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,67}}</string>
                <key>sourceSize</key>
                <string>{476,67}</string>
            </dict>
            <key>snake vs math.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1084},{474,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{474,63}}</string>
                <key>sourceSize</key>
                <string>{476,67}</string>
            </dict>
            <key>sound1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,286},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>sound2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,180},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,459},{41,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,56}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>t10.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,67},{61,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,44}}</string>
                <key>sourceSize</key>
                <string>{61,44}</string>
            </dict>
            <key>t11.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,671},{65,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,54}}</string>
                <key>sourceSize</key>
                <string>{65,54}</string>
            </dict>
            <key>t12.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,392},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>t13.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,453},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>t14.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1997},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>t15.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,346},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>t16.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2000},{65,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,46}}</string>
                <key>sourceSize</key>
                <string>{65,46}</string>
            </dict>
            <key>t17.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2000},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>t18.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2000},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>t19.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,804},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,130},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>t20.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,865},{58,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,53}}</string>
                <key>sourceSize</key>
                <string>{58,53}</string>
            </dict>
            <key>t21.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,502},{65,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,57}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>t22.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,180},{61,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,67}}</string>
                <key>sourceSize</key>
                <string>{61,67}</string>
            </dict>
            <key>t23.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,392},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>t24.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,671},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>t25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,105},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
            <key>t26.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,738},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>t27.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,604},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>t28.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,293},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>t29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1824},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,91},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>t30.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1506},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>t31.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,584},{54,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,59}}</string>
                <key>sourceSize</key>
                <string>{54,59}</string>
            </dict>
            <key>t32.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1506},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>t4.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{63,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,44}}</string>
                <key>sourceSize</key>
                <string>{63,44}</string>
            </dict>
            <key>t5.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,522},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>t6.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,390},{52,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,61}}</string>
                <key>sourceSize</key>
                <string>{52,61}</string>
            </dict>
            <key>t7.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,459},{52,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,61}}</string>
                <key>sourceSize</key>
                <string>{52,61}</string>
            </dict>
            <key>t8.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1824},{51,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,59}}</string>
                <key>sourceSize</key>
                <string>{51,59}</string>
            </dict>
            <key>t9.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,569},{62,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,52}</string>
            </dict>
            <key>yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1676},{87,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,157}}</string>
                <key>sourceSize</key>
                <string>{87,157}</string>
            </dict>
            <key>yinxiaoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1676},{87,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,157}}</string>
                <key>sourceSize</key>
                <string>{87,157}</string>
            </dict>
            <key>zanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1835},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1707},{165,168}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{165,168}}</string>
                <key>sourceSize</key>
                <string>{167,168}</string>
            </dict>
            <key>zhujiemian.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,180},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d7f307fe662f28ac441c185c6b23d5d:1/1$</string>
            <key>textureFileName</key>
            <string>gui.png</string>
        </dict>
    </dict>
</plist>
