<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>herochess_addMoney.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,699},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>herochess_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>herochess_bigarea.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{741,542}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{741,542}}</string>
                <key>sourceSize</key>
                <string>{741,542}</string>
            </dict>
            <key>herochess_closeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,603},{82,85}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{82,85}}</string>
                <key>sourceSize</key>
                <string>{110,115}</string>
            </dict>
            <key>herochess_createRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,113},{237,273}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,273}}</string>
                <key>sourceSize</key>
                <string>{239,273}</string>
            </dict>
            <key>herochess_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,388},{102,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{102,107}}</string>
                <key>sourceSize</key>
                <string>{104,109}</string>
            </dict>
            <key>herochess_indexBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,745},{1136,44}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{1136,44}}</string>
                <key>sourceSize</key>
                <string>{1136,50}</string>
            </dict>
            <key>herochess_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,791},{1040,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1040,64}}</string>
                <key>sourceSize</key>
                <string>{1040,64}</string>
            </dict>
            <key>herochess_joinGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,806},{237,273}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,273}}</string>
                <key>sourceSize</key>
                <string>{239,273}</string>
            </dict>
            <key>herochess_kgOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,515},{225,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,49}}</string>
                <key>sourceSize</key>
                <string>{225,49}</string>
            </dict>
            <key>herochess_kgOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{225,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,49}}</string>
                <key>sourceSize</key>
                <string>{225,49}</string>
            </dict>
            <key>herochess_l_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,497},{200,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{200,42}}</string>
                <key>sourceSize</key>
                <string>{228,42}</string>
            </dict>
            <key>herochess_lobby_TopLogo_Di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,109}}</string>
                <key>sourceSize</key>
                <string>{1334,109}</string>
            </dict>
            <key>herochess_newDialog0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,739},{158,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,65}}</string>
                <key>sourceSize</key>
                <string>{158,65}</string>
            </dict>
            <key>herochess_newDialog1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,672},{158,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,65}}</string>
                <key>sourceSize</key>
                <string>{158,65}</string>
            </dict>
            <key>herochess_newDialog2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,605},{158,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,65}}</string>
                <key>sourceSize</key>
                <string>{158,65}</string>
            </dict>
            <key>herochess_newDialog3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,538},{158,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,65}}</string>
                <key>sourceSize</key>
                <string>{158,65}</string>
            </dict>
            <key>herochess_newDialog4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,471},{158,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,65}}</string>
                <key>sourceSize</key>
                <string>{158,65}</string>
            </dict>
            <key>herochess_newDialog5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,404},{158,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,65}}</string>
                <key>sourceSize</key>
                <string>{158,65}</string>
            </dict>
            <key>herochess_newDialog6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,337},{158,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,65}}</string>
                <key>sourceSize</key>
                <string>{158,65}</string>
            </dict>
            <key>herochess_newDialog7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,270},{158,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,65}}</string>
                <key>sourceSize</key>
                <string>{158,65}</string>
            </dict>
            <key>herochess_newDialog8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,203},{158,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,65}}</string>
                <key>sourceSize</key>
                <string>{158,65}</string>
            </dict>
            <key>herochess_newDialog9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,136},{158,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,65}}</string>
                <key>sourceSize</key>
                <string>{158,65}</string>
            </dict>
            <key>herochess_newDialogBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,69},{158,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,65}}</string>
                <key>sourceSize</key>
                <string>{158,65}</string>
            </dict>
            <key>herochess_newDialogCancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,2},{158,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,65}}</string>
                <key>sourceSize</key>
                <string>{158,65}</string>
            </dict>
            <key>herochess_newDialogInput_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{400,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,65}}</string>
                <key>sourceSize</key>
                <string>{400,65}</string>
            </dict>
            <key>herochess_other_uimg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,388},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>herochess_voice.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,497},{104,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{104,103}}</string>
                <key>sourceSize</key>
                <string>{104,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cda49750308e65735cbb45f439ba68a:1/1$</string>
            <key>textureFileName</key>
            <string>gui.png</string>
        </dict>
    </dict>
</plist>
