<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spacefortress_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1284},{589,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,90}}</string>
                <key>sourceSize</key>
                <string>{589,90}</string>
            </dict>
            <key>spacefortress_chongwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1634},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>spacefortress_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{720,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1080}}</string>
                <key>sourceSize</key>
                <string>{720,1080}</string>
            </dict>
            <key>spacefortress_dianzan.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1816},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spacefortress_diqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1846},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>spacefortress_enermyTrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,724},{800,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,800}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>spacefortress_fengshudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{676,65}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{676,65}}</string>
                <key>sourceSize</key>
                <string>{720,65}</string>
            </dict>
            <key>spacefortress_fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1918},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spacefortress_gameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,1280}}</string>
                <key>sourceSize</key>
                <string>{960,1280}</string>
            </dict>
            <key>spacefortress_kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1284},{348,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{348,348}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>spacefortress_paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1816},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spacefortress_plane.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1875},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{54,48}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>spacefortress_planetCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,1774},{246,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{246,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>spacefortress_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1634},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>spacefortress_rotateLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1634},{210,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{210,210}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>spacefortress_yingwenbiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1962},{573,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,61}}</string>
                <key>sourceSize</key>
                <string>{573,61}</string>
            </dict>
            <key>spacefortress_yingwenkaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1284},{348,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{348,348}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>spacefortress_yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1918},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spacefortress_yinxiaoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1816},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spacefortress_yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1816},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spacefortress_yinyueguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1846},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spacefortress_yuan001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,1526},{246,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{246,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>spacefortress_yuan002.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1780},{246,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{246,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>spacefortress_yuan003.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1532},{246,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{246,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>spacefortress_yuan004.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1284},{246,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{246,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>spacefortress_yunshi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1918},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>spacefortress_yunshi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1927},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>spacefortress_zanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1875},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>spacefortress_zhuye.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1634},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spaceFortressGUI.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10881b217723ea6a9647d72cbab30587:1/1$</string>
            <key>textureFileName</key>
            <string>spaceFortressGUI.png</string>
        </dict>
    </dict>
</plist>
