<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bal_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2013},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>ball_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1898},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>ball_cyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1898},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>ball_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1898},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>ball_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1898},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>ball_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1898},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>ball_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1898},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>ball_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,504},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1028},{70,72}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{70,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_backtomenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,946},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,986},{172,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,32},{172,86}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,536},{92,92}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_chart.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,544},{92,92}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_chart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,864},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1028},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>btn_cyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,812},{172,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,32},{172,86}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,638},{172,86}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,34},{172,86}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,630},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>btn_like.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,544},{92,92}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1746},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>btn_musicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1930},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_nextround.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,782},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_noadds.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1930},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1528},{172,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,32},{172,86}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>btn_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1354},{172,86}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,34},{172,86}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1180},{172,86}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,34},{172,86}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>btn_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,531},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1464},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1952},{92,92}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_share2.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1616},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_soundoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1312},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>btn_soundon.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1160},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1956},{172,86}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,34},{172,86}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>button_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1698},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>circle_halfblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1936},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>circle_halfwhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1936},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>circle_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1936},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>daoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1616},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>di_daoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,638},{540,80}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,8},{540,80}}</string>
                <key>sourceSize</key>
                <string>{720,100}</string>
            </dict>
            <key>di_jiesuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{460,660}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,660}}</string>
                <key>sourceSize</key>
                <string>{460,660}</string>
            </dict>
            <key>di_level_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{540,180}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,10},{540,180}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>di_level_cyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1206},{540,180}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,10},{540,180}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>di_level_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,664},{540,180}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,10},{540,180}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>di_level_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1206},{540,180}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,10},{540,180}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>di_level_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,664},{540,180}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,10},{540,180}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>di_level_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1748},{540,180}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,10},{540,180}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>di_level_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{540,180}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,10},{540,180}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>drawline_horizontal.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1925},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>drawline_vertical.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1925},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>highscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1702},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>highscore2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1748},{206,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,162}}</string>
                <key>sourceSize</key>
                <string>{206,162}</string>
            </dict>
            <key>jianduan.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,504},{30,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,65}}</string>
                <key>sourceSize</key>
                <string>{30,65}</string>
            </dict>
            <key>jianduan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1930},{20,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,35}}</string>
                <key>sourceSize</key>
                <string>{20,35}</string>
            </dict>
            <key>life2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1702},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>life_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1102},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>life_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,504},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>line_black1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2043},{344,3}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{344,3}}</string>
                <key>sourceSize</key>
                <string>{370,5}</string>
            </dict>
            <key>line_black2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2038},{3,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{3,370}}</string>
                <key>sourceSize</key>
                <string>{5,370}</string>
            </dict>
            <key>line_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1930},{320,4}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{320,4}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{540,180}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,10},{540,180}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
            <key>money.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1102},{60,52}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>space.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,824},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,782},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>trapballs.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{500,126}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,103},{500,126}}</string>
                <key>sourceSize</key>
                <string>{720,300}</string>
            </dict>
            <key>xiexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1698},{64,46}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{64,46}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a559da19750a5fbde4c2528fc230486e$</string>
            <key>textureFileName</key>
            <string>gui.png</string>
        </dict>
    </dict>
</plist>
